.Home {}

.Home__List {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2.9rem;
    padding: 1rem;
}

.Home__ShoppingCart {
    width: 17rem;
    position: absolute;
    left: 101.75rem;
    top: 6.8rem;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 .2rem 0;
}

.Home__ShoppingCart button {
    width: 10rem;

}

.Home__ShoppingCart__Button {
    margin: 1rem 0 0 101rem;
    /* margin-left: 103rem; */
}

.Home__ShoppingCart__Button span {
    border: 1px solid black;
    background-color: darkgrey;
    color: white;
    border-radius: 50%;
    text-align: center;
    height: 1rem;
    width: 10rem;
}

.Home__ShoppingCart__Items {
    display: flex;
    justify-content: space-between;
    width: 16rem;
}

.ShoppingCartItems__Item {
    margin: .1rem;

}

.ShoppingCartItems__Item:nth-child(2) {
    position: absolute;
    left: 9rem;
}

.Home__ShoppingCart__AbortButton {
    border: 2px solid black;
    background-color: #ddd;
    position: absolute;
    left: 15.85rem;
    top: -1.1rem;
}

.Home__ShoppingCart__AbortButton:hover {
    cursor: pointer;
}

.Home__RenderedItems {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 15rem;
}

.Home__RenderedItems img {
    height: 6rem;
    width: 15rem;
    border-radius: 1rem;
    object-fit: cover;
}

.RenderedItems__Item {
    /* border: 2px solid red; */
    margin: .3rem;
}

.RenderedItems__Item:nth-child(4) {
    width: 15rem;
    height: 4rem;
    text-align: left;
    text-overflow: clip;
}